<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Giphy Search App</title>
  <link rel="stylesheet" href="/css/styles.css"> 
</head>

<body> 

<nav>
  <ul>
    <li>Giphy search App</li>
  </ul>
</nav>

<form action="/" method="post" class='space-top space-bottom'>
  <div class='my-flex-container'>
    <input class="space-round input-box" type="search" name="inputBox">
    <button class='space-round search-button' type="submit">Search</button>
  </div>
</form>




